<div class="row">
    <div class="col-2">

        <img [src]="Artist.images[2].url" class="img-thumbnail rounded-circle mt-1" alt="">

    </div>

    <div class="col-4">
        <div class="row mt-5">
            <div class="col-12">
                <h3 class="text-light">{{Artist.name}} <br> <small>
                    Popularidad {{Artist.popularity}} raking</small> </h3>
            </div>
        </div>
    </div>

    <div class="col-6 text-right">
        <button type="button" name="" id="" class="btn btn-outline-success btn-lg mt-3">Regresar</button>
    </div>

</div>

<div class="row mt-5">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr class="text-light text-center">
                    <td>#</td>
                    <td>Foto</td>
                    <td>Canción</td>
                    <td>Popularidad</td>
                    <td>Preview</td>
                </tr>
            </thead>
            <tbody>
                <tr class="text-light text-center" *ngFor="let track of topTracks; let i=index">
                    <td>{{i+1}}</td>
                    <td><img [src]="track.album.images[2].url" class="img-thumbnail rounded-circle" alt=""></td>
                    <td>{{track.name}}</td>
                    <td>{{track.popularity}}</td>
                    <td><iframe [src]="track.uri | domSanatizer:'https://open.spotify.com/embed?uri='" width="300" height="80" frameborder="0"></iframe></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>