<div class="row">
    <div class="col-12 text-center text-light">
        <h2>Search</h2>
    </div>

</div>

<div class="row mt-2">
    <div class="col-12">
        <div class="form-group">
            <label for="" class="text-light"> Filtra tu busqueda:</label>
            <select class="form-control" #filter name="">
            <option value="null" selected >Selecciona</option>
            <option *ngFor="let item of searchFilter" [value]="item">{{item}}</option>
        </select>
        </div>
    </div>
</div>

<div class="col-12">
    <div class="form-group">
        <label for="" class="text-light">Ingresa lo que quieres buscar:</label>
        <input type="text" class="form-control" #termino (keyup)="search(filter.value, termino.value)" placeholder="Ingresa tu busqueda" aria-describedby="helpId">
    </div>
</div>

<div class="row mt-2">
    <div class="card-columns">
        <div class="card" *ngFor="let item of searchResults">
            <img *ngIf="item.album" [src]="item.album.images[1].url | noImage" class="card-img-top" alt="...">

            <img *ngIf="!item.album" [src]="item.images[1]?.url | noImage" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>

                <audio *ngIf="item.album && item.preview_url!=null" [src]="item.preview_url" controls></audio>
                <p *ngIf="!item.album" class="card-text">
                    <button type="button" (click)="GotoArtist(item.id)" class="btn btn-outline-dark btn-lg btn-block">Ver mas...</button>
                </p>
                <!-- <p class="card-text">
                    <span class="badge-pill badge-secondary" *ngFor="let artist of release.artists">{{artist.name}}</span>
                </p>
                <p class="card-text"><small class="text-muted">Release date: {{release.release_date}}</small></p> -->
            </div>
        </div>
    </div>
</div>